@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>
@* <div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <h3>Check out some recent dishes</h3>
    @foreach(Dish d in Model){
        <form asp-action="Index" asp-controller="Home" asp-route-id="@d.DishId" method="post">
        <div class="text-center">
            <h5><a href="/dish/@d.DishId">@d.Name</a> @d.Chef </h5>
        </div>
        </form>
    }   
</div> *@
