* {
  background-color: #F6F6F6;
}

html {
  font-size: 14px;
  background-color: #F6F6F6;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  background-color: #F6F6F6;
  }
}

.logo {
  height: 55px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #F6F6F6;
}

body {
  margin-bottom: 60px;
  background-color: #F6F6F6;
}

.btn-link {
  text-decoration: none;
  color: black;
}

.btn-logout {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.btn-shopping {
  color: black;
  font-size: 24px;
}

.btn-red {
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F6F6F6 !important;
  font-weight: bold
}

.btn-logout:hover {
  font-weight: bold;
  color: #8E7DBE;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-shopping:hover {
  font-weight: bold;
  color: #99C1B9;
}

.logout {
  float: right;
  text-align: center;
  font-size: 29px;
}

.nav-link {
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
}

.navbar {
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: grey;
}

.source-font {
  font-family: 'Source Sans Pro', sans-serif;
}

.home-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-container {
  padding: 15px 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  font-size: 60px;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
}

.subtitle-cart {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.home-btn {
  height: 40px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  border: 1px solid #1F1F1F00;
  border-radius: 20px;
  background-color: #99C1B9;
  transition: 0.3s;
}

.home-btn:hover {
  color: black;
  opacity: 0.8;
}

.subtitle-cart:hover {
  text-decoration: wavy;
  /* font-weight: bold; */
  color: #D88C9A;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body {
  background-color: #F6F6F6 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  border: none;
}

.card-img-top {
  /* border-radius: 50%; */
  padding-left: 0 !important;
}

.card-text {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F6F6F6 !important;
  margin-bottom: 2px;
}

.grey-text {
  color: grey;
  font-size: 15px;
}

.tea-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-plus, .fa-trash {
  font-size: 20px;
}

.fa-trash:hover {
  color: rgb(255, 78, 78);
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 21px;
  line-height: 25.2px;
  text-decoration: none;
  color: black;
  background-color: #F6F6F6 !important;
  padding-top: 9px;
}

.card-title:hover {
  /* font-weight: bold; */
  color: #D88C9A;
}

.all-bg {
  background-color: #F6F6F6 !important;
}

.bottom-card-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  margin-top: 10px;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.icon {
  width: 25px;
}

.delete-icon {
  width: 30px;
}

.creator-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.bold {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.bold-one {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.sub-top-container {
  margin-bottom: 10px;
}

.card-img {
  width: 600px;
}

.one-body {
  padding: 15px 10px;
  margin-left: 30px;
}

.one-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.one-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  background-color: #F6F6F6 !important;
  margin-bottom: 10px;
  font-size: 20px;
}

.one-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.total {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: transparent !important;
}

.carousel-item, .carousel, .slide {
  width: 600px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.home-left-container {
  width: 600px;
}

.space {
  margin-bottom: 25px;
}