<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Fredoka+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <span><p> | </p></span>
            <a href="/projects">Projects</a>
            <span><p> | </p></span>
            <a href="/contact">Contact</a>
        </nav>
        <h1>My Projects</h1>
    </header>
    <div class="projects-container">
        <div class="project">
            <img src="~/images/unlocking_wellness.png" alt="Unlocking Wellness Home Page Picture">
            <div class="project-text">
                <h3>Unlocking Wellness</h3>
                <p>A health-care web and mobile app that allows patients to find and assemble a team of providers who are specially trained to care for marginalized communities and people groups.</p>
            </div>
        </div>
        <div class="project">
            <img src="~/images/cube.png" alt="Cube Product Page Picture">
            <div class="project-text">
                <h3>Cube</h3>
                <p>Cube comprises a complete redesign of a clothing retail portal front-end website, intended to modernize and streamline the experience to improve user engagement and activity.</p>
            </div>
        </div>
        <div class="project">
            <img src="~/images/easybay.png" alt="EasyBay Home Page Picture">
            <div class="project-text">
                <h3>EasyBay</h3>
                <p>A static webpage devoted to all things succulent.</p>  
            </div>
        </div>
    </div>
</body>
</html>