@{
    ViewData["Title"] = "Add Chef";
}
@model Chef
<h1 class="text-center">Add a chef</h1>
<hr>
<form class ="text-center" action="/chef/createChef" method="post">
    <section class="mb-3">
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
    </section>
    <section class="mb-3">
        <label for="LastName">Last Name</label>
        <input asp-for="LastName">
        <span asp-validation-for="LastName"></span>
    </section>
    <section class="mb-3">
        <label asp-for="DateOfBirth">Date of Birth</label>
        <input asp-for="DateOfBirth" type="date">
        <span asp-validation-for="DateOfBirth"></span>
    </section>
    <button class="btn btn-primary">Add Chef</button>
</form>