<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Fredoka+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <span><p> | </p></span>
            <a href="/projects">Projects</a>
            <span><p> | </p></span>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Contact Me!</h1>
    </header>
    <div class="form-container">
        <form>
            <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" id="name" name="name" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
			    <input type="text" id="email" name="email" />
            </div>
            <div class="message-group">
			    <label for="message">Message</label>
			    <textarea name="Message"></textarea>
            </div>
		</form>
        <button>Submit</button>
    </div>
</body>
</html>