<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Fredoka+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <span><p> | </p></span>
            <a href="/projects">Projects</a>
            <span><p> | </p></span>
            <a href="/contact">Contact</a>
        </nav>
        <h1>About Me</h1>
    </header>
    <div class="main-container">
        <div class="left">
            <img src="~/images/yoobie.png" alt="Yoobie Maplestory Picture">
            <h2>Ubin Jung ( Yoobie )</h2>
            <h2>MapleStory Coder</h2>
        </div>
        <div class="right">
            <h3>Level 263 | Ice/Lightning Archmage</h3>
            <h3>Guild: Teal</h3>
            <h3>Reboot (NA) | MapleStory Global</h3>
            <h4>Global Rank 14584 | Ice/Lightning Archmage Rank 306</h4>
            <h4>Legion Level: 7771</h4>
            <h4>Favorite Languages: JavaScript, C#, Java</h4>
        </div>
    </div>
</body>
</html>