@{
    ViewData["Title"] = "Home Page";
}
@model string;

<div class="text-center">
    <h1>@Model</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque explicabo in quod officiis eos sint, doloribus ex tenetur excepturi esse voluptates nam quas quae. Consequuntur officia explicabo suscipit sit ipsum?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum non saepe natus omnis alias ratione, aperiam accusantium porro doloremque corporis, tenetur necessitatibus! Possimus, libero. Natus explicabo commodi aperiam accusantium pariatur.</p>
</div>
